@font-face {
    font-family: 'Cinzel';
    src: url('../../assets/Cinzel-VariableFont_wght.ttf');
}
.logo {
    width: 100px;
    margin: 0;
}

header {
    background-color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 2rem;
    font-family: 'Cinzel';
}

h1, li a {
    color: #e07e00;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: black;
}
li a{
    text-decoration: none;
    font-size: 1.5em;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 2.5rem;
        font-family: 'Cinzel';
    }
}