.eachHorse {
    border: 1px solid saddlebrown;
    width: 80%;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
}

/* .horseContainer {
    margin: auto; 
} */

img {
    max-width: 80%;
    margin: auto;
}