<div class="container-fluid col-md-12">
    <div class="eachHorse">
        <div class="col-xs-12">
            <div class="col-xs-12"><h2>{{ horse?.name }}</h2></div>
            <div class="col-xs-12">
                <img [src]="horse?.imageUrl" alt="{{ horse?.name }}" class="img-responsive">
                
            </div>
        </div>
        <div>
            <p>{{ horse?.breed }} -- {{ horse?.age }} years old -- {{ horse?.gender }}</p>
            <p>{{ horse?.color }} -- {{ horse?.height }} -- {{ horse?.weight }} pounds</p>
        </div>
        <div class="button-holder">
                    <a type="button" class="btn orange" [routerLink]="['/myBarn', horse?.id, 'edit']">Edit Horse</a>
                    <a type="button" class="btn brown" (click)="onDelete()">Sell Horse</a>
                </div>
    </div>
</div>

