.eachHorse {
    border: 1px solid saddlebrown;
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
}

/* .horseContainer {
    margin: auto; 
} */

img {
    max-width: 80%;
    margin: auto;
}
a {
    text-decoration: none;
    color: #d8a25b;
}
.orange {
    background-color:#d8a25b ;
    color: black;
}
.orange:hover {
    background-color: #e07e00
}
ul {
    list-style-type: none;
}